.battlefield-header {
   font-size: 2.5rem;
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
};

.pokemon-image {
   width: 150%;
};

.health-box {
   background-color: #007f00;
   height: 15px;
   width: 200px;
   border: solid 1px #aaa;
   margin-top: 5px;
   margin-top: 15px;
};



