@import "./leaderboard";
@import "./battlefield";

$backgroundColor: #7e2a1f;
$primaryColor: #eeff00;

html, body {
   background-color: $backgroundColor;
}

.container {
   margin-top: 3.5rem;
   max-width: 960px;
   background-color: white;
};


