<section>
  <div class="container is-desktop">
    <div class="columns is-centered">
      <div class="column">
        <h1 class="team-selection-header__h1">Choose Your Team</h1>
        <div class="selection-container">
          <p class="team-select-text">From here, you'll select a team of six PokeMon to go to battle with. Attacks
            will be chosen at
            random.
            Choose wisely.</p>
          <form action="">
            <!-- TOP ROW TO CHOOSE POKEMON -->
            <div class="columns">

              <div class="column">
                <!-- POKEMON ONE SELECTOR -->
                <div class="field">
                  <label class="label">Pokemon 1</label>
                  <div class="control">
                    <div class="select">
                      <select id="poke-select-1">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <!-- POKEMON TWO SELECTOR -->
                <div class="field">
                  <label class="label">Pokemon 2</label>
                  <div class="control">
                    <div class="select">
                      <select id="poke-select-2">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <!-- POKEMON THREE SELECTOR -->
                <div class="field">
                  <label class="label">Pokemon 3</label>
                  <div class="control">
                    <div class="select">
                      <select id="poke-select-3">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- SECOND ROW TO CHOOSE POKEMON -->
            <div class="columns">
              <div class="column">

                <!-- POKEMON FOUR SELECTOR -->
                <div class="field">
                  <label class="label">Pokemon 4</label>
                  <div class="control">
                    <div class="select">
                      <select id="poke-select-4">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <!-- POKEMON FIVE SELECTOR -->
                <div class="field">
                  <label class="label">Pokemon 5</label>
                  <div class="control">
                    <div class="select">
                      <select id="poke-select-5">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <!-- POKEMON SIX SELECTOR -->
                <div class="field">
                  <label class="label">Pokemon 6</label>
                  <div class="control">
                    <div class="select">
                      <select id="poke-select-6">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- SUBMIT BUTTON -->
            <div class="field">
              <div class="control">
                <button class="button is-link" id="choose-team-submit">Submit</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>