<div class="container">
    <div class="has-text-centered">
        <h1 class="profile-header has-text-weight-bold">Pokemon Leaderboard Page</h1>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td class="is-size-1">Rank</td>
                    <td class="is-size-1">Avatar</td>
                    <td class="is-size-1">User Name</td>
                    <td class="is-size-1">Name</td>
                    <td class="is-size-1">Wins</td>
                </tr>
            </thead>
            <tr>
                <td class="has-text-grey-light is-size-1" style="padding-right: 5px;">1</td>
                <td>
                    <figure class="image is-64x64">
                        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png" alt="Image">
                    </figure>
                </td>
                <td><strong class="is-size-4 has-text-info">DameFighter23</strong></td>
                <td><strong class="is-size-5">Jane Smith</strong">
                </td>
                <td><strong class="is-size-4">87</strong></td>
            </tr>
            <tr>
                <td class="has-text-grey-light is-size-1" style="padding-right: 5px;">1</td>
                <td>
                    <figure class="image is-64x64">
                        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png" alt="Image">
                    </figure>
                </td>
                <td><strong class="is-size-4 has-text-info">DameFighter23</strong></td>
                <td><strong class="is-size-5">Jane Smith</strong">
                </td>
                <td><strong class="is-size-4">87</strong></td>
            </tr>
            <tr>
                <td class="has-text-grey-light is-size-1" style="padding-right: 5px;">1</td>
                <td>
                    <figure class="image is-64x64">
                        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png" alt="Image">
                    </figure>
                </td>
                <td><strong class="is-size-4 has-text-info">DameFighter23</strong></td>
                <td><strong class="is-size-5">Jane Smith</strong">
                </td>
                <td><strong class="is-size-4">87</strong></td>
            </tr>
            <tr>
                <td class="has-text-grey-light is-size-1" style="padding-right: 5px;">1</td>
                <td>
                    <figure class="image is-64x64">
                        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png" alt="Image">
                    </figure>
                </td>
                <td><strong class="is-size-4 has-text-info">DameFighter23</strong></td>
                <td><strong class="is-size-5">Jane Smith</strong">
                </td>
                <td><strong class="is-size-4">87</strong></td>
            </tr>
            <tr>
                <td class="has-text-grey-light is-size-1" style="padding-right: 5px;">1</td>
                <td>
                    <figure class="image is-64x64">
                        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png" alt="Image">
                    </figure>
                </td>
                <td><strong class="is-size-4 has-text-info">DameFighter23</strong></td>
                <td><strong class="is-size-5">Jane Smith</strong">
                </td>
                <td><strong class="is-size-4">87</strong></td>
            </tr>
        </table>

    </div>